* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url("pexels-zeynep-sude-emek-18115783.jpg");
    background-position: center;
    background-size: cover;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
}

h2 {
    user-select: none;
    font-size: 26px;
    font-weight: 700;
    color: blanchedalmond;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: blanchedalmond;
    padding: 8px 16px;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    color: #fff;
}

.content {
    height: 100vh;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.main-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: blanchedalmond;
}

.main-content h1 {
    max-width: 600px;
    font-size: 3rem;
}

.main-content p {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 600;
}

.main-content button {
    margin-top: 20px;
    font-size: 20px;
    outline: none;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    background: dodgerblue;
    color: whitesmoke;
}

.main-content button:hover {
    background: whitesmoke;
    color: dodgerblue;
}